In [2]:
#SHIFT + ENTER
print("Hi!")

Hi!

###This is Markdown

In [3]:
import pandas as pd
import numpy as np

In [4]:
var = np.arange(20).reshape(5,4)

In [5]:
var

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [6]:
var.sum()

190

In [7]:
#axis 0 means apply the operation to all columns
var.sum(axis = 0)

array([40, 45, 50, 55])

In [8]:
#axis 1 means apply the operation to all columns
var.sum(axis = 1)

array([ 6, 22, 38, 54, 70])

In [9]:
path = r"/Users/bhasbr/gitrepos/DataPlusMath/dpm-research/research/DAT-02-14/ClassMaterial/Unit1/data/master.csv"

In [10]:
path

'/Users/bhasbr/gitrepos/DataPlusMath/dpm-research/research/DAT-02-14/ClassMaterial/Unit1/data/master.csv'

In [11]:
df = pd.read_csv(path, parse_dates = ['visit_date'])

In [12]:
df

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...
252103,air_a17f0778617c76e2,2017-04-21,49,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0
252104,air_a17f0778617c76e2,2017-04-22,60,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,37.0
252105,air_a17f0778617c76e2,2017-03-26,69,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,35.0
252106,air_a17f0778617c76e2,2017-03-20,31,Monday,1,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,3.0
252107,air_a17f0778617c76e2,2017-04-09,26,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,32.0

In [15]:
df.head()

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

In [17]:
df[['visitors']].mean()

visitors    20.973761
dtype: float64

In [18]:
df[['visitors','holiday']].median()

visitors    17.0
holiday      0.0
dtype: float64

In [19]:
df['visitors'][:5000].min()

1

In [21]:
df['visitors'][252104:252107].mode()

0    31
1    60
2    69
dtype: int64

In [22]:
df.iloc[:, -4:].mode()

                             area   latitude   longitude  reserve_visitors
0  Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813               2.0

In [25]:
df.iloc[:250, :3].mean()

/var/folders/mm/1wsq7dcs6qgdxc11ycqyv8bc0000gq/T/ipykernel_96001/1148004301.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.iloc[:250, :3].mean()
/var/folders/mm/1wsq7dcs6qgdxc11ycqyv8bc0000gq/T/ipykernel_96001/1148004301.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.iloc[:250, :3].mean()

visitors    24.912
dtype: float64

In [30]:
df[df['visitors'] > 30]['visitors'].mean()

44.9949567848634

In [31]:
df['visitors'] > 30

0         False
1          True
2         False
3         False
4         False
          ...
252103     True
252104     True
252105     True
252106     True
252107    False
Name: visitors, Length: 252108, dtype: bool

In [33]:
df[df['day_of_week'] == 'Friday']

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
8,air_ba937bf13d40fb24,2016-01-22,18,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
14,air_ba937bf13d40fb24,2016-01-29,26,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
18,air_ba937bf13d40fb24,2016-02-05,45,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
24,air_ba937bf13d40fb24,2016-02-12,26,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,18.0
...,...,...,...,...,...,...,...,...,...,...
252077,air_a17f0778617c76e2,2017-03-24,109,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,21.0
252083,air_a17f0778617c76e2,2017-03-31,51,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2.0
252090,air_a17f0778617c76e2,2017-04-07,46,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,1.0
252096,air_a17f0778617c76e2,2017-04-14,88,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,4.0
252103,air_a17f0778617c76e2,2017-04-21,49,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0

In [35]:
df[df['visitors'].between(10,30)]

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
7,air_ba937bf13d40fb24,2016-01-21,21,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
8,air_ba937bf13d40fb24,2016-01-22,18,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...
252099,air_a17f0778617c76e2,2017-04-17,19,Monday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
252100,air_a17f0778617c76e2,2017-04-18,11,Tuesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
252101,air_a17f0778617c76e2,2017-04-19,25,Wednesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN
252102,air_a17f0778617c76e2,2017-04-20,22,Thursday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,1.0
252107,air_a17f0778617c76e2,2017-04-09,26,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,32.0

In [37]:
df[(df['day_of_week']  == 'Wednesday') & (df['genre'] == 'Dining bar')]

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
6,air_ba937bf13d40fb24,2016-01-20,31,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
12,air_ba937bf13d40fb24,2016-01-27,24,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
16,air_ba937bf13d40fb24,2016-02-03,18,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
22,air_ba937bf13d40fb24,2016-02-10,32,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...
249683,air_16c4cfddeb2cf69b,2017-03-29,15,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,4.0
249690,air_16c4cfddeb2cf69b,2017-04-05,6,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,2.0
249696,air_16c4cfddeb2cf69b,2017-04-12,12,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,2.0
249703,air_16c4cfddeb2cf69b,2017-04-19,8,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,NaN
249732,air_16c4cfddeb2cf69b,2017-01-04,9,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,10.0

In [38]:
query = (df['day_of_week']  == 'Wednesday') & (df['genre'] == 'Dining bar')

In [40]:
df[query]

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
6,air_ba937bf13d40fb24,2016-01-20,31,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
12,air_ba937bf13d40fb24,2016-01-27,24,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
16,air_ba937bf13d40fb24,2016-02-03,18,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
22,air_ba937bf13d40fb24,2016-02-10,32,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
...,...,...,...,...,...,...,...,...,...,...
249683,air_16c4cfddeb2cf69b,2017-03-29,15,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,4.0
249690,air_16c4cfddeb2cf69b,2017-04-05,6,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,2.0
249696,air_16c4cfddeb2cf69b,2017-04-12,12,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,2.0
249703,air_16c4cfddeb2cf69b,2017-04-19,8,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,NaN
249732,air_16c4cfddeb2cf69b,2017-01-04,9,Wednesday,0,Dining bar,Ōsaka-fu Ōsaka-shi Ōgimachi,34.705362,135.510025,10.0

In [42]:
df[df['day_of_week'] == 'Monday']['visitors'].mean()

17.177009027207877

In [49]:
df[df['day_of_week'] == 'Saturday']['visitors'].mean()

26.31368753502114

In [50]:
df[df['day_of_week'] == 'Sunday']['visitors'].mean()

23.87336200860258

In [51]:
df[df['holiday'] == 1]['visitors'].mean()

23.703326810176126

In [52]:
df[df['holiday'] == 0]['visitors'].mean()

20.828063827386945

In [53]:
(df['day_of_week']  == 'Wednesday') & (df['genre'] == 'Dining bar').max()

0          True
1         False
2         False
3         False
4         False
          ...
252103    False
252104    False
252105    False
252106    False
252107    False
Name: day_of_week, Length: 252108, dtype: bool

In [54]:
df[df['visitors'].max()]['visit_date']

KeyError: 877

In [56]:
df['visitors'].max()

877

In [61]:
df[df['visitors'] == 348]['visit_date']

245791   2017-01-23
Name: visit_date, dtype: datetime64[ns]

In [58]:
df[df['genre'] == 'Dining bar']['visitors'].max()

348

In [62]:
df.groupby('holiday')['visitors'].mean()

holiday
0    20.828064
1    23.703327
Name: visitors, dtype: float64